<!DOCTYPE html>
<html>
<body>

<h1>Visualize Embedded data with PCA</h1>

 <form action = "/generate_visualization" method = "post" enctype="multipart/form-data">          
 		<label for="n_components">Number of PCA Components (2 or 3):</label>
        <input type="text" name="n_components" id="n_components" value="3"/>
        <br>
 		<label for="input_data">Input Data (npz file):</label>
        <input type="file" name="input_data" />  
        <br>
        <label for="targets">Targets File (JSON):</label>
        <input type="file" name="targets" />
        <br>
        <input type = "submit" value="Upload">  
</form>  


<br>
<br>

<h1>Embed Fasta File with pretrained models (default Transformer)</h1>

 <form action = "/embed_data" method = "post" enctype="multipart/form-data">  
 		<label for="input_data">Input Data (fasta file):</label>
        <input type="file" name="input_filename" /> 
        <br>
		<label for="targets">Model (transformer, unirep, tr-rosetta) :</label>
        <input type="text" name="model" value="transformer" />
        <br>
		<label for="targets">Pretrained Model (bert-base, babbler-1900, xaa, xab, xac, xax, xae):</label>
        <input type="text" name="pretrained_model" id="pretrained_model" value="bert-base" />
        <br>
		<label for="targets">Tokenizer (iupac, unirep for Unirep model):</label>
        <input type="text" name="tokenizer" value="iupac">
        <br>
		<label for="targets">Batch size (default 4, depends on GPU memory):</label>
        <input type="text" name="batch_size" value="4">
        <br>
		<label for="targets">Output filename:</label>
        <input type="text" name="output_filename">
        <br>
        <input type = "submit" value="Upload">  
</form>  

</body>
</html>
